<div class="page__footer-follow">
  <ul class="social-icons">
    </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.title | default: site.title }}.
  
  <br><br>
  
  <p style="font-size: 0.8em; color: #777;">
    **Isenção de Responsabilidade:** Esta é uma base de conhecimento colaborativa e **não oficial**. Não possuímos qualquer afiliação, vínculo ou endosso da marca GAC. As informações aqui contidas são fornecidas como um guia da comunidade, mas podem conter imprecisões. **O usuário deve sempre verificar as informações com o manual oficial e/ou um profissional qualificado.** A plataforma e seus colaboradores não se responsabilizam por quaisquer ações tomadas com base neste conteúdo. O uso é de sua responsabilidade.
  </p>
</div>
