<div class="page__footer-follow">
  <ul class="social-icons">
    </ul>
</div>

<div class="page__footer-copyright">

  <p style="font-size: 0.8em;">
    O conteúdo deste guia é licenciado sob uma 
    <a href="https://creativecommons.org/licenses/by/4.0/deed.pt" rel="nofollow">Licença Creative Commons Atribuição 4.0 Internacional (CC BY 4.0)</a>.
    Você é livre para compartilhar e adaptar o material, desde que dê o crédito apropriado ao <b>Guia GAC Brasil</b>.
  </p>
  
  <br>
  
  <p style="font-size: 0.8em; color: #777;">
    <b>Isenção de Responsabilidade:</b> Esta é uma base de conhecimento colaborativa e <b>não oficial</b>. Não possuímos qualquer afiliação, vínculo ou endosso da marca GAC. As informações aqui contidas são fornecidas como um guia da comunidade, mas podem conter imprecisões. <b>O usuário deve sempre verificar as informações com o manual oficial e/ou um profissional qualificado.</b> A plataforma e seus colaboradores não se responsabilizam por quaisquer ações tomadas com base neste conteúdo. O uso é de sua responsabilidade.
  </p>
</div>
